@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.releases {
  margin:0;
  background-image: url("../../assets/start_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vw;
  border-top: 1px solid aqua;
  border-bottom: 1px solid aqua;
  div.about-frame {
    margin: 0;
    position: relative;
    width: 70vw;
    left: 15%;
    div.about-text {
      position: absolute;
      top: 15vw;
      left: 10vw;
      padding: 2vw;
      right: 10vw;
      text-align: center;
      color: #191f38;
      .about-title {
        font-size: 1.9vw;
        text-align: center;
      }
      .about-description {
        font-family: "Open Sans", serif;
        font-weight: 300;
        font-size: 1.6vw;
        line-height: 1.2;
      }
    }
  }
}

