.crew-collection {
  margin: 0;
  background-image: url("../../assets/typesnft.png");
  background-size: cover;
  height: 48vw;
  text-align: center;
  .crew-collection-title {
    position: absolute;
    top: -10vw;
    left: 25vw;
    font-size: 10vw;
    .crew-svg {
      height: 37vw;
      width: 48vw;
    }
  }
}