.join-us {
  margin: 0;
  background-image: url("../../assets/join_background.png");
  background-size: cover;
  height: 58vw;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 1px solid aqua;
  border-bottom: 1px solid aqua;
}