.vote {
  height: 59vw;
  text-align: center;
  background-image: url("../../assets/vote-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  .vote-title {
    font-size: 3vw;
    padding-top: 3vw;
    color: aqua;
    margin-bottom: 10vw;
  }
  .vote-frate {
    width: 30vw;
    position: absolute;
    left: 10vw;
    top: 8vw;
  }
  .vote-text {
    width: 39vw;
    position: absolute;
    left: 5vw;
    top: 7vw;
    color: white;
    font-size: 1vw;
    padding: 7vw;
  }
}