.vote {
  height: 59vw;
  text-align: center;
  background-image: url("../../assets/vote-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  .vote-frate {
    width: 30vw;
    position: absolute;
    left: 10vw;
    top: 8vw;
  }
}