@import
"base/base";

@import
"components/scrollToTop",
"components/button",
"components/navbar",
"components/card";

@import
"sections/home",
"sections/about",
"sections/crewcollection",
"sections/utility",
"sections/departments",
"sections/ourStory",
"sections/roadMap",
"sections/teamForce",
"sections/vote",
"sections/joinUs",
"sections/footer",
"sections/privacy",
"sections/about";
