$cyan--aqua: #26fdff;
$electric-violet: #a931fd;
$electric-violet-2: #b231fe;
$electric-violet-3: #b231fe61;
$haiti: #191c37;
$white: #ffffff;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px;
$font-size-xl: 30px;
$font-size-xxl: 36px;
$font-size-xxxl: 55px;
$font-family-audiowide: "Audiowide", Helvetica;